/projeto1/nbproject/private/
/projeto1/dist/
/projeto1/build/
/Aula2F_1v1/nbproject/private/
/Aula2F_1v1/build/
/Aula2F_2v1/nbproject/private/
/Aula2F_2v1/build/
/Aula2F_2v2/nbproject/private/
/Aula2F_2v2/build/
